<div class="row">
    {% for album_id in album_ids %}
        <div class="col-12">
            <div class="queue_card">
                <div class="card mb-3 p-0">
                    <div class="row g-0">
                        <div class="col-md-3">

                            <div class="dl_queue_img">
                                {% if album_id.downloading %}
                                    <div class="icn-downloading">
                                        <i class="la la-6x la-compact-disc icn-spinner text-white"></i>
                                    </div>
                                {% endif %}
                                <img src="{{ album_id.cover }}" class="img-fluid rounded-start"
                                     alt="{{ album_id.album }}" style="width: 100%; height: 100%; min-height: 180px;">
                            </div>

                        </div>
                        <div class="col-md-9 vinyl-card">
                            <div class="card-body">
                                <a href="https://youtube.com{{ album_id.link }}" target="_blank">
                                    <h3 class="card-title">{{ album_id.album }}</h3>
                                </a>
                                <h5 class="card-text" style="font-weight: bold; font-family: serif;">{{ album_id.artist }}</h5>
                                {% if album_id.downloading %}
                                    <p>Downloading...</p>
                                {% else %}
                                    <p class="text-muted">Waiting to Download</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Nothing waiting to download</p>
    {% endfor %}

</div>